body {
    background-color: black;
    margin: 0px;
}

.welcome {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rel {

    position: absolute;
    bottom: 8px;
    left: 8px;
    right: 8px;
    font-size: 18px;
    background-color: darkblue;
    border-radius: 10px;
    border-style: outset;
    border-color: darkblue;
    transition: height 0.5s;
    height: 10px;
    overflow-y: hidden;
  }

.rel:hover .insidediv{
    display: block;
    opacity: 1;

}

.rel:hover {
    height: 100px;
}

.insidediv {
    color: white;
    opacity: 0;
    transition: opacity 0.5s;
    font-size: 20px;
}

.img {
    width: 250px;
    right: 0;
    top: 0  ;
    padding: 10px;
    background-color: darkslategray;
    border-color: rgb(94, 177, 177);
    border: 10px;
    margin-top: 0px;
    height: 100vh;
    position: absolute;
    box-sizing: border-box;

}

.insideimg{
    width: 90%;
}


