body {
    background-color: black;
}

.welcome {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rel {

    position: absolute;
    bottom: 8px;
    left: 8px;
    right: 8px;
    font-size: 18px;
    background-color: darkblue;
    border-radius: 10px;
    border-style: outset;
    border-color: darkblue;
    transition: height 0.5s;
    height: 10px;
    overflow-y: hidden;
  }

.rel:hover .insidediv{
    display: block;
    opacity: 1;

}

.rel:hover {
    height: 100px;
}

.insidediv {
    color: white;
    opacity: 0;
    transition: opacity 0.5s;
    font-size: 20px;
}

.img {
    width: 250px;
    margin-left: 84%;
}
